{% extends '@SyliusAdmin/layout.html.twig' %}

{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}
{% import '@SyliusUi/Macro/table.html.twig' as table %}
{% import '@SyliusAdmin/Macro/breadcrumb.html.twig' as breadcrumb %}
{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% block title %}{{ 'fmdd.ui.sorting_plugin.taxon.header'|trans }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'bundles/fmddsyliussortingplugin/admin/css/sorting-plugin.css'} %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% include '@SyliusUi/_javascripts.html.twig' with {'path': 'bundles/fmddsyliussortingplugin/admin/js/sorting-plugin.js'} %}
{% endblock %}

{% block content %}
	<form method="post" action="{{ path('fmdd_sylius_admin_taxons_sorting_save') }}">
		<div class="ui stackable two column grid">
			<div class="column">
				<h1 class="ui header">
					<i class="circular sort icon"></i>
					<div class="content">
						{{ 'fmdd.ui.sorting_plugin.taxon.header'|trans }}
						<div class="sub header">{{ 'fmdd.ui.sorting_plugin.taxon.subHeader'|trans }}</div>
					</div>
				</h1>

				{% if taxon is defined %}
					{% set breadcrumbs = [
						{ label: 'sylius.ui.administration'|trans, url: path('sylius_admin_dashboard') },
						{ label: 'fmdd.ui.sorting_plugin.taxon.header'|trans, url: path('fmdd_sylius_admin_taxons_sorting_index') },
						{ label: taxon.name },
					] %}
				{% else %}
					{% set breadcrumbs = [
						{ label: 'sylius.ui.administration'|trans, url: path('sylius_admin_dashboard') },
						{ label: 'fmdd.ui.sorting_plugin.taxon.header'|trans },
					] %}
				{% endif %}

				{{ breadcrumb.crumble(breadcrumbs) }}
			</div>

			<div class="middle aligned column">
				<div class="ui right floated buttons">
					<label for="sort-tree-toggler"
						   class="ui labeled icon button">
						<i class="icon list"></i>
						{{ 'fmdd.ui.sorting_plugin.taxon.toggleTaxons'|trans }}
					</label>
					{% set disableButton = taxon is not defined or (taxon is defined and taxons|length == 0) %}
					<button type="submit"
							class="ui labeled icon button primary {% if disableButton %}disbled{% endif %}"
							{% if disableButton %}disabled{% endif %}>
						<i class="icon checkmark"></i>
						{{ 'sylius.ui.save_positions'|trans }}
					</button>
				</div>
			</div>
		</div>

		<div class="sortPage">
			<input type="checkbox" checked="checked" class="sortPage-toggler" id="sort-tree-toggler">
			<div class="sortPage-tree">
				{{ render(path('sylius_admin_partial_taxon_tree', {'template': '@FMDDSyliusSortingPlugin/Admin/Taxon/_taxonTree.html.twig'})) }}
			</div>
			<div class="sylius-product-index sortPage-products">
				{% if taxon is defined %}
					{% if taxons|length > 0 %}
						<div id="sortableProducts" class="ui cards">
							{% for taxon in taxons %}
								<div class="sortableItem card" style="border: 1px solid green">
									<div class="content">
										<div class="header">
											<a class="sortableItem-link" href="{{ path('sylius_admin_product_per_taxon_index', {'taxonId': taxon.id}) }}" target="_blank">
												<i class="external alternate icon"></i>
											</a>
											{{ taxon.name }}
										</div>
									</div>
									<input type="hidden" name="id[]" value="{{ taxon.id }}">
								</div>
							{% endfor %}
						</div>
					{% else %}
						{{ messages.info('fmdd.ui.sorting_plugin.taxon.noTaxons') }}
					{% endif %}
				{% else %}
					{{ messages.info('fmdd.ui.sorting_plugin.taxon.chooseTaxon') }}
				{% endif %}
			</div>
		</div>
	</form>
{% endblock %}
